*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 500px;
    margin: auto;
    margin-top: 5rem;
    
   background-color: rgb(205, 186, 189);
}
.detail{
    text-align: center;
    padding: 4rem;
}
button{
    width: 120px;
    height: 30px;
    margin: 1rem;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    background-image:          
    linear-gradient(to right, #f9c8ee 0%, #e0dbc5  51%, #f492df  100%);
    font-size: 12px;
}
button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #6c6464;
    
}
form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
input{
   flex-direction: row;
   width: 300px;
   height: 25px;
   font-size: 12px;
    
}

#createForm{
   margin-top: 4rem;
    margin-bottom: 1rem;
}
#display-section{
    width: 600px;
    
    
}
.display{
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
    margin-top: 1rem;
}
.text-container{
    margin-right: 0.5rem;
}

.fa-trash-can{
    color: rgb(247, 80, 80);
    cursor: pointer;
}